######################YOU WILL NEED A LINODE ACCOUNT AND A CLOUDFLARE ACCOUNT FOR THIS TEMPLATE##########################
######################AS WELL AS AN ACCOUNT WITH A GIT PROVIDER FOR YOUR APPLICATION REPOSITORIES###############################
######################OPTIONALLY, IF YOU WANT SYSTEM EMAILS, YOU WILL NEED AN SMTP SERVER AVAILABLE#############################
######################CURRENTLY, GOOGLE, SENDPULSE AND AMAZON SES ARE SUPPORTED#################################################
######################AS A MINIMUM REVIEW AND SET ALL VARIABLES MARKED "MANDATORY"##############################################
################################################################################################################################
export APPLICATION="joomla"
export JOOMLA_VERSION="3.9.22"
export APPLICATION_BASELINE_SOURCECODE_REPOSITORY="JOOMLA:3.9.22"
export S3_ACCESS_KEY=""  #MANDATORY
export S3_SECRET_KEY=""  #MANDATORY
export S3_HOST_BASE="eu-central-1.linodeobjects.com"
export S3_LOCATION="US" #For linode, this always needs to be set to "US"
###############The personal access token to use when manipulating compute with linode###############
export TOKEN="" #MANDATORY this personal token needs "account", "IPs", "Linodes" and "Object Store" read and write privieges
export ACCESS_KEY=""   #NOT REQUIRED
export SECRET_KEY=""   #NOT REQUIRED
###############These variables are cloudflare API key and the email address of your cloudflare account##########################
export DNS_USERNAME=""  #MANDATORY
export DNS_SECURITY_KEY=""   #MANDATORY
export DNS_CHOICE="cloudflare" #MANDATORY
export CLOUDHOST_EMAIL_ADDRESS="" #MANDATORY
export BUILDOS="" #MANDATORY one of ubuntu|debian
export BUILDOS_VERSION="" #MANDATORY one of 20.04|10
export DEFAULT_USER="" #MANDATORY - This should always be 'root' on linode
###^^^^^^^^^^^^^^^^^^^^^^^^^^^^ESSENTIAL TO REVIEW ALL THE ABOVE PARAMETERS^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
#################################################################################################################################
##########################VARIABLES ABOVE HERE ARE SYSTEM VARIABLES AND MUST BE SET MANUALLY BEFORE BUILD########################
##########################THESE NEXT VARIABLES ARE RELATED TO THE APPLICATION FUNCTIONING########################################
#################################################################################################################################
export WEBSITE_DISPLAY_NAME="" #MANDATORY
export WEBSITE_NAME="" #MANDATORY - This is the exact value of the core of your WEBSITE_URL, for example, www.nuocial.org.uk would be nuocial
export WEBSITE_URL=""  #MANDATORY
export APPLICATION_REPOSITORY_PROVIDER="" #MANDATORY
export APPLICATION_REPOSITORY_OWNER="" #MANDATORY
export APPLICATION_REPOSITORY_USERNAME="" #MANDATORY
export APPLICATION_REPOSITORY_PASSWORD="" #MANDATORY
export APPLICATION_REPOSITORY_TOKEN="" #MANDATORY
export SYSTEM_EMAIL_PROVIDER="" #MANDATORY
export SYSTEM_TOEMAIL_ADDRESS="" #MANDATORY
export SYSTEM_FROMEMAIL_ADDRESS="" #MANDATORY
export SYSTEM_EMAIL_USERNAME="" #MANDATORY
export SYSTEM_EMAIL_PASSWORD="" #MANDATORY
export DIRECTORIES_TO_MOUNT="images"
export DB_PORT="2035"
export SSH_PORT="1035"
export GATEWAY_GUARDIAN="0"
export PRODUCTION="0"
export DEVELOPMENT="1"
export BUILD_CHOICE="0"
export WEBSERVER_CHOICE="APACHE"
export NUMBER_WS="1"
export SUPERSAFE_WEBROOT="1"
export SUPERSAFE_DB="1"
export DATABASE_INSTALLATION_TYPE="MySQL"
export PERSIST_ASSETS_TO_CLOUD="1" #This should only be 0 if your application has a very small number of assets
export DISABLE_HOURLY="0"
#################################################################################################################################
###########################VARIABLES ABOVE HERE YOU WILL NEED TO SET FOR YOUR APPLICATION TO FUNCTION FULLY #####################
#################################################################################################################################
export SERVER_TIMEZONE_CONTINENT="Europe"
export SERVER_TIMEZONE_CITY="London"
export BASELINE_DB_REPOSITORY="VIRGIN"
export BUILD_ARCHIVE_CHOICE="virgin"
export APPLICATION_LANGUAGE="PHP"
export APPLICATION_IDENTIFIER="0"
export PHP_VERSION="8.0"
export REGION=""
export REGION_ID="eu-central"
export DB_SIZE="g6-nanode-1"
export DB_SERVER_TYPE="g6-nanode-1"
export WS_SIZE="g6-nanode-1"
export WS_SERVER_TYPE="g6-nanode-1"
export AS_SIZE="g6-nanode-1"
export AS_SERVER_TYPE="g6-nanode-1"
export CLOUDHOST="linode"
export MACHINE_TYPE="LINODE"
export ALGORITHM="rsa"
export USER="root"
export CLOUDHOST_USERNAME="root"
export CLOUDHOST_PASSWORD="jdhfsj33jfhsrhejw"
export PUBLIC_KEY_NAME="AGILE_TOOLKIT_PUBLIC_KEY"
export PREVIOUS_BUILD_CONFIG="0"
export GIT_USER="Templated User"
export GIT_EMAIL_ADDRESS="templateduser@dummyemailZ123.com"
export INFRASTRUCTURE_REPOSITORY_PROVIDER="github"
export INFRASTRUCTURE_REPOSITORY_OWNER="agile-deployer"
export INFRASTRUCTURE_REPOSITORY_USERNAME="agile-deployer"
export INFRASTRUCTURE_REPOSITORY_PASSWORD="none"
export DATASTORE_CHOICE="linode"
export SSL_GENERATION_METHOD="AUTOMATIC"
export SSL_GENERATION_SERVICE="LETSENCRYPT"
export BYPASS_DB_LAYER="0"
export DBaaS_HOSTNAME=""
export DBaaS_USERNAME=""
export DBaaS_PASSWORD=""
export DBaaS_DBNAME=""
export DATABASE_DBaaS_INSTALLATION_TYPE=""
export DBaaSDBSECURITYGROUP=""
export DBIP=""
export DBIP_PRIVATE=""
export WSIP=""
export WSIP_PRIVATE=""
export ASIP=""
export ASIP_PRIVATE=""
export DBaaS_DBNAME=""
export APPLICATION_NAME=""
export MAPS_API_KEY=""
export PHP_MODE=""
export PHP_MAX_CHILDREN=""
export PHP_START_SERVERS=""
export PHP_MIN_SPARE_SERVERS=""
export PHP_MAX_SPARE_SERVERS=""
export PHP_PROCESS_IDLE_TIMEOUT=""
export IN_MEMORY_CACHING=""
export IN_MEMORY_CACHING_PORT=""
export IN_MEMORY_CACHING_HOST=""
export IN_MEMORY_CACHING_SECURITY_GROUP=""
export ENABLE_EFS=""
export SUBNET_ID=""
export AUTOSCALE_FROM_SNAPSHOTS=""
export GENERATE_SNAPSHOTS=""
export SNAPSHOT_ID=""
export WEBSERVER_IMAGE_ID=""
export AUTOSCALER_IMAGE_ID=""
export DATABASE_IMAGE_ID=""
export DRUPAL_VERSION=""
export BUILD_HOME=""
export BUILD_CLIENT_IP=""
export BUILD_IDENTIFIER=""
export PUBLIC_KEY_ID=""
