###############################################################################################
# Refer to: ${BUILD_HOME}/templatedconfigurations/specification.md
###############################################################################################
export APPLICATION="" #MANDATORY joomla, wordpress, drupal or moodle
export BUILD_CHOICE="2" #MANDATORY 2=hourly, 3=daily, 4=weekly, 5=monthly, 6=bimonthly
export BUILD_ARCHIVE_CHOICE="hourly" #MANDATORY hourly, daily, weekly, monthly, bimonthly
export PERSIST_ASSETS_TO_CLOUD="1" #This should only be 0 if your application has a very small number of assets
export DIRECTORIES_TO_MOUNT="" #MANDATORY The directories of dynamic assets in your webroot that will be mounted from S3
export S3_ACCESS_KEY=""  #MANDATORY
export S3_SECRET_KEY=""  #MANDATORY
export S3_HOST_BASE="ewr1.vultrobjects.com" #MANDATORY
export S3_LOCATION="US" #For vultr, this always needs to be set to "US"
export TOKEN="" #MANDATORY this is your vultr personal access token
export ACCESS_KEY=""   #NOT REQUIRED
export SECRET_KEY=""   #NOT REQUIRED
export DNS_USERNAME=""  #MANDATORY
export DNS_SECURITY_KEY=""   #MANDATORY
export DNS_CHOICE="vultr" #MANDATORY - you will need to set your DNS nameservers according to this choice
export CLOUDHOST_EMAIL_ADDRESS="" #MANDATORY
export BUILDOS="" #MANDATORY one of ubuntu|debian
export BUILDOS_VERSION="" #MANDATORY one of 20.04|10 11
export DEFAULT_USER="root" #MANDATORY - This should always be 'root' on vultr
export BUILD_IDENTIFIER="" #MANDATORY
export WEBSITE_DISPLAY_NAME="" #MANDATORY
export WEBSITE_NAME="" #MANDATORY - This is the exact value of the core of your WEBSITE_URL, for example, www.nuocial.org.uk would be nuocial
export WEBSITE_URL=""  #MANDATORY
###########################################################
export APPLICATION_REPOSITORY_PROVIDER="github" #MANDATORY Make sure these 5 settings match where your backups is stored with your git provider
export APPLICATION_REPOSITORY_OWNER="adt-demos" #MANDATORY
export APPLICATION_REPOSITORY_USERNAME="adt-demos" #MANDATORY
export APPLICATION_REPOSITORY_PASSWORD="none" #MANDATORY 
export APPLICATION_REPOSITORY_TOKEN="" #MANDATORY
###########################################################
export SYSTEM_EMAIL_PROVIDER="" #MANDATORY
export SYSTEM_TOEMAIL_ADDRESS="" #MANDATORY
export SYSTEM_FROMEMAIL_ADDRESS="" #MANDATORY
export SYSTEM_EMAIL_USERNAME="" #MANDATORY
export SYSTEM_EMAIL_PASSWORD="" #MANDATORY
export SERVER_TIMEZONE_CONTINENT="Europe"
export SERVER_TIMEZONE_CITY="London"
export PRODUCTION="1"
export DEVELOPMENT="0"
export SUPERSAFE_WEBROOT="1"
export WEBSERVER_CHOICE="NGINX"
export NO_AUTOSCALERS="1"
export NUMBER_WS="1"
export SUPERSAFE_DB="1"
export DISABLE_HOURLY="0"
export DATABASE_INSTALLATION_TYPE="MySQL"
export DB_PORT="2035"
export SSH_PORT="1035"
export GATEWAY_GUARDIAN="0"
export BASELINE_DB_REPOSITORY=""
export APPLICATION_BASELINE_SOURCECODE_REPOSITORY=""
export APPLICATION_LANGUAGE="PHP"
export APPLICATION_IDENTIFIER="2"
export PHP_VERSION="8.0"
export REGION=""
export REGION_ID="lhr"
export DB_SIZE="vc2-1c-1gb"
export DB_SERVER_TYPE="vc2-1c-1gb"
export WS_SIZE="vc2-1c-1gb"
export WS_SERVER_TYPE="vc2-1c-1gb"
export AS_SIZE="vc2-1c-1gb"
export AS_SERVER_TYPE="vc2-1c-1gb"
export CLOUDHOST="vultr"
export MACHINE_TYPE="VULTR"
export ALGORITHM="rsa"
export USER="root"
export CLOUDHOST_USERNAME="root"
export CLOUDHOST_PASSWORD=""
export PREVIOUS_BUILD_CONFIG="0"
export GIT_USER="Templated User"
export GIT_EMAIL_ADDRESS="templateduser@dummyemailX123.com"
export INFRASTRUCTURE_REPOSITORY_PROVIDER="github"
export INFRASTRUCTURE_REPOSITORY_OWNER="agile-deployer"
export INFRASTRUCTURE_REPOSITORY_USERNAME="agile-deployer"
export INFRASTRUCTURE_REPOSITORY_PASSWORD="none"
export DATASTORE_CHOICE="vultr"
export SSL_GENERATION_METHOD="AUTOMATIC"
export SSL_GENERATION_SERVICE="LETSENCRYPT"
export BYPASS_DB_LAYER="0"
export PUBLIC_KEY_NAME="AGILE_TOOLKIT_PUBLIC_KEY"
export DBaaS_HOSTNAME=""
export DBaaS_USERNAME=""
export DBaaS_PASSWORD=""
export DBaaS_DBNAME=""
export DATABASE_DBaaS_INSTALLATION_TYPE=""
export DBaaSDBSECURITYGROUP=""
export WSIP=""
export WSIP_PRIVATE=""
export DBIP=""
export DBIP_PRIVATE=""
export ASIP=""
export ASIP_PRIVATE=""
export APPLICATION_NAME="WORDY DEMO APPLICATION"
export DNS_REGION=""
export MAPS_API_KEY=""
export PHP_MODE=""
export PHP_MAX_CHILDREN=""
export PHP_START_SERVERS=""
export PHP_MIN_SPARE_SERVERS=""
export PHP_MAX_SPARE_SERVERS=""
export PHP_PROCESS_IDLE_TIMEOUT=""
export IN_MEMORY_CACHING=""
export IN_MEMORY_CACHING_PORT=""
export IN_MEMORY_CACHING_HOST=""
export IN_MEMORY_CACHING_SECURITY_GROUP=""
export ENABLE_EFS=""
export SUBNET_ID=""
export AUTOSCALE_FROM_SNAPSHOTS=""
export GENERATE_SNAPSHOTS=""
export SNAPSHOT_ID=""
export WEBSERVER_IMAGE_ID=""
export AUTOSCALER_IMAGE_ID=""
export DATABASE_IMAGE_ID=""
export ASSETS_BUCKET=""
export JOOMLA_VERSION=""
export DRUPAL_VERSION=""
export BUILD_HOME=""
export BUILD_CLIENT_IP=""
export PUBLIC_KEY_ID=""
